@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Mono:wght@400;500;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #F53838;
    --color-secondary: rgba(245, 56, 56, 0.35);
    --color-primary-text: #4F5665;
    --color-heading-text: #0b132a;
    --font-primary: "Rubik", serif;
}